In [ ]:
Summary : 

The datasets contain all the loan status of Lending Club through 2007 â€“ 2015 including latest payment information and repayment maturity, etc. The specific quarter(eg, FY18 Q1) of loan status can also be extracted. 
The data includes 800k rows and 20 columns.


Problem Statement:
To find out possible driving factor for loan getting charged offs and  bad vs good loan, I will use EDA, Linear Regression and Decision Tree to solve the problem.

In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [17]:
loan = pd.read_csv('./data/loans.csv', encoding = 'latin-1')

/Users/Dahu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
loan

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,1077501,1296599,5000,5000,4975.00000,36 months,10.65,162.87,B,B2,...,0.00,0.0000,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL
1,1077430,1314167,2500,2500,2500.00000,60 months,15.27,59.83,C,C4,...,117.08,1.1100,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL
2,1077175,1313524,2400,2400,2400.00000,36 months,15.96,84.33,C,C5,...,0.00,0.0000,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL
3,1076863,1277178,10000,10000,10000.00000,36 months,13.49,339.31,C,C1,...,0.00,0.0000,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL
4,1075358,1311748,3000,3000,3000.00000,60 months,12.69,67.79,B,B5,...,0.00,0.0000,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL
5,1075269,1311441,5000,5000,5000.00000,36 months,7.90,156.46,A,A4,...,0.00,0.0000,Jan-15,161.03,NaN,Sep-15,0.0,NaN,1,INDIVIDUAL
6,1069639,1304742,7000,7000,7000.00000,60 months,15.96,170.08,C,C5,...,0.00,0.0000,Jan-16,170.08,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL
7,1072053,1288686,3000,3000,3000.00000,36 months,18.64,109.43,E,E1,...,0.00,0.0000,Jan-15,111.34,NaN,Dec-14,0.0,NaN,1,INDIVIDUAL
8,1071795,1306957,5600,5600,5600.00000,60 months,21.28,152.39,F,F2,...,189.06,2.0900,Apr-12,152.39,NaN,Aug-12,0.0,NaN,1,INDIVIDUAL
9,1071570,1306721,5375,5375,5350.00000,60 months,12.69,121.45,B,B5,...,269.29,2.5200,Nov-12,121.45,NaN,Mar-13,0.0,NaN,1,INDIVIDUAL
10,1070078,1305201,6500,6500,6500.00000,60 months,14.65,153.45,C,C3,...,0.00,0.0000,Jun-13,1655.54,NaN,Dec-15,0.0,NaN,1,INDIVIDUAL
11,1069908,1305008,12000,12000,12000.00000,36 months,12.69,402.54,B,B5,...,0.00,0.0000,Sep-13,6315.30,NaN,Aug-13,0.0,NaN,1,INDIVIDUAL
12,1064687,1298717,9000,9000,9000.00000,36 months,13.49,305.38,C,C1,...,444.30,4.1600,Jul-12,305.38,NaN,Nov-12,0.0,NaN,1,INDIVIDUAL
13,1069866,1304956,3000,3000,3000.00000,36 months,9.91,96.68,B,B1,...,0.00,0.0000,Jan-15,102.43,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL
14,1069057,1303503,10000,10000,10000.00000,36 months,10.65,325.74,B,B2,...,645.10,6.3145,Oct-13,325.74,NaN,Mar-14,0.0,NaN,1,INDIVIDUAL
15,1069759,1304871,1000,1000,1000.00000,36 months,16.29,35.31,D,D1,...,0.00,0.0000,Jan-15,36.32,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL
16,1065775,1299699,10000,10000,10000.00000,36 months,15.27,347.98,C,C4,...,0.00,0.0000,Jan-15,370.46,NaN,Apr-15,0.0,NaN,1,INDIVIDUAL
17,1069971,1304884,3600,3600,3600.00000,36 months,6.03,109.57,A,A1,...,0.00,0.0000,May-13,583.45,NaN,May-14,0.0,NaN,1,INDIVIDUAL
18,1062474,1294539,6000,6000,6000.00000,36 months,11.71,198.46,B,B3,...,0.00,0.0000,Feb-15,16.98,NaN,Jul-15,0.0,NaN,1,INDIVIDUAL
19,1069742,1304855,9200,9200,9200.00000,36 months,6.03,280.01,A,A1,...,0.00,0.0000,Jul-12,8061.10,NaN,Jul-12,0.0,NaN,1,INDIVIDUAL
20,1069740,1284848,20250,20250,19142.16108,60 months,15.27,484.63,C,C4,...,0.00,0.0000,Aug-15,6024.09,NaN,Dec-15,0.0,NaN,1,INDIVIDUAL
21,1039153,1269083,21000,21000,21000.00000,36 months,12.42,701.73,B,B4,...,0.00,0.0000,Sep-13,701.73,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL
22,1069710,1304821,10000,10000,10000.00000,36 months,11.71,330.76,B,B3,...,0.00,0.0000,Jan-15,349.21,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL
23,1069700,1304810,10000,10000,10000.00000,36 months,11.71,330.76,B,B3,...,0.00,0.0000,Oct-13,4942.63,NaN,Mar-14,0.0,NaN,1,INDIVIDUAL
24,1069559,1304634,6000,6000,6000.00000,36 months,11.71,198.46,B,B3,...,269.31,2.5700,Oct-12,198.46,NaN,Mar-13,0.0,NaN,1,INDIVIDUAL
25,1069697,1273773,15000,15000,15000.00000,36 months,9.91,483.38,B,B1,...,0.00,0.0000,Sep-12,2447.05,NaN,Sep-12,0.0,NaN,1,INDIVIDUAL
26,1069800,1304679,15000,15000,8725.00000,36 months,14.27,514.64,C,C2,...,0.00,0.0000,NaN,0.00,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL
27,1069657,1304764,5000,5000,5000.00000,60 months,16.77,123.65,D,D2,...,260.96,2.3000,Dec-12,123.65,NaN,May-13,0.0,NaN,1,INDIVIDUAL
28,1069799,1304678,4000,4000,4000.00000,36 months,11.71,132.31,B,B3,...,0.00,0.0000,Apr-13,2638.77,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL
29,1047704,1278806,8500,8500,8500.00000,36 months,11.71,281.15,B,B3,...,0.00,0.0000,Dec-14,581.59,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887349,36691397,39434133,20000,20000,20000.00000,36 months,6.99,617.46,A,A3,...,0.00,0.0000,Jan-16,617.46,Feb-16,Jan-16,0.0,70.0,1,INDIVIDUAL
887350,36500819,39232937,10300,10300,10300.00000,60 months,13.66,237.86,C,C3,...,0.00,0.0000,Jan-16,237.86,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL
887351,36743377,39486112,4200,4200,4200.00000,36 months,15.99,147.64,D,D2,...,0.00,0.0000,Aug-15,147.64,NaN,Jan-16,0.0,38.0,1,INDIVIDUAL
887352,36231083,38942474,15000,15000,15000.00000,36 months,11.99,498.15,B,B5,...,0.00,0.0000,Jan-16,498.15,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL
887353,36371802,39103231,15000,15000,15000.00000,60 months,11.44,329.44,B,B4,...,0.00,0.0000,Jan-16,329.44,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL
887354,36250801,38962184,6000,6000,6000.00000,36 months,17.86,216.50,D,D5,...,0.00,0.0000,Jan-16,216.50,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL
887355,36331554,39042967,26950,26950,26950.00000,36 months,8.19,846.88,A,A5,...,0.00,0.0000,Jan-16,846.88,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL
887356,36460697,39182359,23000,23000,23000.00000,60 months,15.59,554.32,D,D1,...,0.00,0.0000,Jan-16,554.32,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL
887357,35773415,38468842,18700,18700,18700.00000,60 months,17.86,473.44,D,D5,...,0.00,0.0000,Jan-16,473.44,Feb-16,Jan-16,0.0,30.0,1,INDIVIDUAL
887358,36440728,39152101,25000,25000,25000.00000,60 months,15.99,607.82,D,D2,...,0.00,0.0000,Jan-16,607.82,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL
887359,35591131,38288343,25000,25000,25000.00000,60 months,15.59,602.52,D,D1,...,0.00,0.0000,Jan-16,602.52,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL
887360,36361815,39093260,26500,26500,26500.00000,60 months,8.67,545.87,B,B1,...,0.00,0.0000,Jan-16,545.87,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL
887361,36201871,38913321,21000,21000,21000.00000,36 months,6.03,639.15,A,A1,...,0.00,0.0000,Jan-16,639.15,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL
887362,36381756,39013193,8000,8000,8000.00000,36 months,8.19,251.40,A,A5,...,0.00,0.0000,Jan-16,251.40,Feb-16,Jan-16,0.0,24.0,1,INDIVIDUAL
887363,36231724,38943173,12000,12000,12000.00000,36 months,9.49,384.34,B,B2,...,0.00,0.0000,Jan-16,384.34,Feb-16,Jan-16,0.0,8.0,1,INDIVIDUAL
887364,36231718,38943165,10775,10775,10775.00000,36 months,6.03,327.95,A,A1,...,0.00,0.0000,Jul-15,9439.34,NaN,Jun-15,0.0,28.0,1,INDIVIDUAL
887365,36381704,39013139,7000,7000,7000.00000,36 months,14.31,240.30,C,C4,...,0.00,0.0000,Jan-16,240.30,Feb-16,Jan-16,0.0,10.0,1,INDIVIDUAL
887366,36241316,38952731,6225,6225,6225.00000,36 months,16.49,220.37,D,D3,...,0.00,0.0000,Dec-15,4858.17,NaN,Dec-15,0.0,NaN,1,INDIVIDUAL
887367,36301729,39023153,10000,10000,10000.00000,36 months,6.49,306.45,A,A2,...,0.00,0.0000,Jan-16,306.45,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL
887368,36250208,38961532,13150,13150,13150.00000,60 months,14.99,312.77,C,C5,...,0.00,0.0000,Jan-16,312.77,Feb-16,Mar-15,0.0,NaN,1,INDIVIDUAL
887369,36421485,39142898,4000,4000,4000.00000,36 months,8.67,126.59,B,B1,...,0.00,0.0000,Jun-15,3655.51,NaN,Nov-15,0.0,NaN,1,INDIVIDUAL
887370,35094480,37777829,7500,7500,7500.00000,36 months,9.49,240.22,B,B2,...,0.00,0.0000,Jan-16,240.22,Feb-16,Jan-16,0.0,69.0,1,INDIVIDUAL
887371,36260758,38972123,10850,10850,10850.00000,36 months,19.24,399.04,E,E2,...,0.00,0.0000,Aug-15,25.00,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL
887372,36330911,39042282,12000,12000,12000.00000,36 months,11.99,398.52,B,B5,...,0.00,0.0000,Jan-16,398.52,Feb-16,Jan-16,0.0,9.0,1,INDIVIDUAL
887373,36221446,38932858,11575,11575,11575.00000,36 months,15.59,404.61,D,D1,...,0.00,0.0000,Jan-16,404.61,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL
887374,36371250,39102635,10000,10000,10000.00000,36 months,11.99,332.10,B,B5,...,0.00,0.0000,Jan-16,332.10,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL
887375,36441262,39152692,24000,24000,24000.00000,36 months,11.99,797.03,B,B5,...,0.00,0.0000,Jan-16,797.03,Feb-16,Jan-16,0.0,29.0,1,INDIVIDUAL
887376,36271333,38982739,13000,13000,13000.00000,60 months,15.99,316.07,D,D2,...,0.00,0.0000,Jan-16,316.07,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL
887377,36490806,39222577,12000,12000,12000.00000,60 months,19.99,317.86,E,E3,...,0.00,0.0000,Jan-16,317.86,Feb-16,Jan-16,1.0,22.0,1,INDIVIDUAL
887378,36271262,38982659,20000,20000,20000.00000,36 months,11.99,664.20,B,B5,...,0.00,0.0000,Jan-16,664.20,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL